@use "mixinflex";

.nav-top-menu {
  font-family: "ABeeZee", sans-serif;
  font-size: 18px;
  height: 110px;
  @include mixinflex.flex-create(row);
}

.logo-top,
.logo-top a {
  display: flex;
  flex: 0.5;
  justify-content: flex-start;
  width: auto;
  height: auto;
}

/* ----------------------    LOGO SETTINGS   ----------------------*/
.header-logo {
  min-width: 80px;
  max-width: 150px;
  max-height: 110px;
  transition: scale ease-in 0.2s;
  margin-left: 30px;
  scale: 90%;
  &:hover {
    scale: 110%;
  }
}

/* ----------------------    LINK TAGS STYLING   ----------------------*/
.menu {
  @include mixinflex.flex-create(row);
  justify-content: space-around;
  flex: 1;
  max-height: 110px;
  min-width: auto;
  line-height: 40px;
  padding: 0px 10px;
  text-shadow: 0px 10px 10px #00000040;
  a {
    padding: 10px 10px;
    position: relative;
    transition: ease all 0.15s;
    text-decoration: none;
    background-color: transparent;
    color: #ffffffcc;
    &::after {
      content: "";
      position: absolute;
      background: var(--swiper-theme-color);
      height: 3px;
      right: 0;
      bottom: 3px;
      width: 0%;
      transition: width 0.3s;
    }
    &:hover {
      color: #ffffff80;
      &::after {
        width: 100%;
      }
    }
  }
}

/* ----------------------    BARS MENU BUTTON   ----------------------*/
.checkBtn {
  font-size: auto;
  color: #ff9b5f;
  cursor: pointer;
  justify-content: flex-end;
  padding-right: 30px;
  padding-left: 15px;
  display: none;

  .fa-bars {
    font-size: 34px;
    @include mixinflex.hamb-menu;
  }
  .fa-xmark {
    font-size: 44px;
    @include mixinflex.hamb-menu;
  }
}
#check {
  visibility: hidden;
  display: none;
}

@media only screen and (max-width: 950px) {
  .nav-top-menu {
    font-size: 16px;
  }
}
@media only screen and (max-width: 800px) {
  .menu {
    justify-content: center;
  }
}

@media only screen and (max-width: 530px) {
  .checkBtn {
    flex: 0.5;
    display: flex;
  }
  .menu {
    @include mixinflex.flex-create(column);
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    background-color: #780a28;
    left: -100%;
    z-index: 500;
    position: absolute;
    max-height: 500vh;
    height: 400vh;
    top: 110px;
    transition: all 0.5s;
  }
}
