@use "mixinflex";
.about-us {
  @include mixinflex.flex-create(column);
  .wrapper-mid {
    font-size: 1.3em;
    font-family: "Indie Flower", cursive;
    margin-top: 100px;
    text-align: center;
    width: 70%;
    position: relative;
    background-color: antiquewhite;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3),
      inset 0 0 30px rgba(0, 0, 0, 0.5);
    border-radius: 2em;
    .logo-float {
      height: 120px;
      width: 150px;
      float: left;
      margin: 80px 20px;
      shape-outside: border-box;
      border-radius: 50%;

      img {
        height: 150px;
        width: auto;
      }
    }

    .text-container {
      color: rgb(29, 29, 29);
      width: auto;
      margin: 0 30px 20px 20px;

      .bxs-quote-alt-right {
        color: crimson;
        position: absolute;
        top: -60px;
        left: 15%;
        font-size: 100px;
        text-shadow: 0 10px 5px rgba(0, 0, 0, 1);
      }
      h1 {
        padding: 30px 0 20px;
        text-decoration: underline;
      }
      p {
        text-align: justify;
        z-index: 5;
      }
    }
  }
}
@media only screen and (max-width: 780px) {
  .about-us {
    .wrapper-mid {
      width: 90%;
      .logo-float {
        height: 60px;
        width: 75px;
        img {
          height: 80px;
          width: auto;
        }
      }
      h1 {
        font-size: 25px;
      }
      p {
        font-size: 20px;
      }
    }
  }
}
