@use "mixinflex";
$complexShadow: 0 10px 10px rgba(0, 0, 0, 0.3),
  inset 0 0 30px rgba(0, 0, 0, 0.5);
hr {
  align-self: center;
  margin-top: 15vh;
  width: 95%;
  background: rgb(255, 44, 114);

  height: 5px;
  border: none;
  border-radius: 10px;
}
.division {
  text-decoration: underline;
  margin-top: 50px;
  display: block;
  text-align: center;
  font-size: 50px;
  color: crimson;
  text-shadow: 0 10px 5px rgba(0, 0, 0, 0.2);
  font-family: "Grand Hotel", cursive;
}

.about-us {
  @include mixinflex.flex-create(column);
  .wrapper-mid {
    font-size: 1.3em;
    font-family: "Indie Flower", cursive;
    margin: 100px 0 0px;
    text-align: center;
    width: 70%;
    position: relative;
    background-color: antiquewhite;
    box-shadow: $complexShadow;
    border-radius: 2em;
    .logo-float {
      height: 120px;
      width: 150px;
      float: left;
      margin: 80px 20px;
      shape-outside: border-box;
      border-radius: 50%;

      img {
        height: 150px;
        width: auto;
      }
    }

    .text-container {
      color: rgb(29, 29, 29);
      width: auto;
      margin: 0 30px 20px 20px;

      .bxs-quote-alt-right {
        color: crimson;
        position: absolute;
        top: -60px;
        left: 15%;
        font-size: 100px;
        text-shadow: 0 10px 5px #000000;
      }
      h1 {
        padding: 30px 0 20px;
        text-decoration: underline;
      }
      p {
        text-align: justify;
        z-index: 5;
      }
      a {
        color: #fd8888cc;
      }
    }
  }
}
.info-section {
  @include mixinflex.flex-create(column);
}
.wrapper-bot {
  font-size: 1.2em;
  font-family: "ABeeZee", sans-serif;
  text-align: center;
  width: 70%;

  h2 {
    color: rgb(163, 96, 96);
    margin: 20px;
    text-decoration: underline;
  }
  p {
    color: rgb(209, 209, 209);
  }
  .last {
    margin-bottom: 50px;
  }
  a {
    color: #fdbfbfcc;
  }
}

@media only screen and (max-width: 780px) {
  .wrapper-bot {
    width: 90%;
  }
  .division {
    font-size: 40px;
  }
  .about-us {
    .wrapper-mid {
      width: 90%;
      .logo-float {
        height: 60px;
        width: 75px;
        img {
          height: 80px;
          width: auto;
        }
      }
      .text-container {
        h1 {
          font-size: 20px;
          padding: 30px 0 5px;
        }
        p {
          font-size: 20px;
        }
      }
    }
  }
}
