html {
  font-family: "Indie Flower", cursive;
  transition: ease all 0.2s;
}
.products-container {
  max-width: auto;
  min-width: auto;
  padding: 3rem 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1rem;

  .product {
    width: 95%;
    transition: ease all 0.2s;
    text-align: center;
    padding: 3rem 2rem;
    border-radius: 20px;
    background-color: #333333;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    outline: 2px solid rgb(75, 75, 75);
    outline-offset: -1rem;
    cursor: pointer;
    h3 {
      text-align: center;
      font-size: 1.2em;
      padding: 2rem 0 0;
      color: antiquewhite;
    }
    img {
      border-radius: 30px;
      transition: ease all 0.2s;
      height: 25rem;
      width: auto;
    }

    &:hover {
      outline: 2px solid rgb(180, 180, 180);
      outline-offset: 0;
      img {
        transform: scale(0.9);
      }
      h3 {
        color: rgb(253, 156, 240);
      }
    }
  }
}

.product-preview {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);

  align-items: center;
  justify-content: center;

  .preview {
    font-size: 1.5rem;
    border-radius: 20px;
    position: relative;
    display: none;
    padding: 2rem;
    text-align: center;
    background-color: #ffffff;
    margin: 2rem;
    width: 35rem;
    img {
      height: 30rem;
      border-radius: 30px;
    }
    .fa-xmark {
      transition: ease all 0.3s;
      color: coral;
      position: absolute;
      top: 0.5rem;
      right: 1.2rem;
      cursor: pointer;
      font-size: 3rem;
      &:hover {
        transform: rotate(90deg);
      }
    }
    h3 {
      text-align: center;
      font-size: 2rem;
      padding: 1.5rem 0 0;
      color: #1b1b1b;
    }
    .stars {
      text-align: center;
      font-size: 1.5rem;
      padding: 1rem 0;
      color: #ff47f0;
    }
    a {
      color: crimson;
    }
  }
  .active {
    display: inline-block;
  }
}

@media (max-width: 990px) {
  html {
    font-size: 80%;
  }
}
@media (max-width: 770px) {
  .product-preview .preview img {
    height: 25rem;
  }
  html {
    font-size: 75%;
  }
}

@media (max-width: 527px) {
  html {
    font-size: 70%;
  }
} ;
