@use "mixinflex";
$sliderShadow: 0px 5px 10px #00000080;
$arrowShadow: 0 8px 10px #00000080;
/* ----------------------- SLIDES -------------------------*/

.slider {
  @include mixinflex.flex-create(column);
}
.container-slider {
  margin-top: 50px;
  position: relative;
  border-radius: 50px;
  width: 1080px;
  height: 60vh;
  border: none;
  box-shadow: $sliderShadow;
  overflow: hidden;
  .slides {
    display: flex;
    .slide {
      min-width: 100%;
      user-select: none;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

/* ----------------------- PREV & NEXT BUTTONS -------------------------*/
.bx-right-arrow,
.bx-left-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px 5px;
  font-size: 3em;
  color: #ffffff;
  opacity: 0.8;
  transition: 0.3s;

  border-radius: 50%;
  user-select: none;
  cursor: pointer;
  z-index: 1;
  scale: 70%;
  box-shadow: $sliderShadow;
  &:hover {
    background-color: #ffffff40;
    color: #000000;
    box-shadow: $arrowShadow;
  }
}
.bx-right-arrow {
  right: 10px;
}
.bx-left-arrow {
  left: 10px;
}
.swiper-pagination {
  user-select: none;
}

@media only screen and (max-width: 650px) {
  .bx-right-arrow,
  .bx-left-arrow {
    scale: 50%;
  }
}
