.logo-bot,
.logo-bot a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  height: 80px;
}
.footer-logo {
  max-width: 200px;
  transition: scale ease 0.25s;
  margin-left: 30px;
  scale: 60%;
}

.footer-logo:hover {
  scale: 70%;
}
