.nav-footer {
  display: flex;
  align-items: center;
}
.logo-bot a {
  display: flex;
  height: 80px;
}
.footer-logo {
  max-width: 200px;
  transition: scale ease 0.25s;
  margin-left: 10px;
  scale: 90%;
}

.footer-logo:hover {
  scale: 95%;
}
