@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Grand+Hotel&family=Indie+Flower&family=Send+Flowers&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-width: 260px;
  height: 500vh;
  background-color: rgb(30, 30, 30);
}

header {
  background-color: rgb(50, 50, 50);
  min-width: auto;
  height: 110px;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
}

footer {
  font-family: "Grand Hotel", cursive;
  margin-top: auto;

  height: 80px;
  background: rgb(50, 50, 50);
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.3);
}
